@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto";
}

::-webkit-scrollbar{
  display: none;
}


.bg-text:after {
  content: attr(data-text);
  position: absolute;
  right: 100px;
  bottom: 150px;
  font-weight: 400;
  font-size: 37.5rem;
  letter-spacing: -0.1em;
  color: #f1f1f1;
  z-index: -1;
  height: 37.5rem;
}
