@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-900 bg-white dark:text-white dark:bg-black;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body:is(.dark *) {
  --background: #171717;
  --foreground: #ffffff;
}

.dark .bg-text::after {
  color: #696969 !important;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto";
}

::-webkit-scrollbar {
  display: none;
}

.bg-text::after {
  content: attr(data-text);
  position: absolute;
  right: 100px;
  bottom: 215px;
  font-weight: 400;
  font-size: 37.5rem;
  letter-spacing: -0.1em;
  color: #f1f1f1;
  /* light mode */
  z-index: -1;
  height: 37.5rem;
}
